<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма добавления концентрата</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Добавить концентрат</h1></div>

    <form th:action="@{/concentrates/save}" th:object="${concentrate}" method="post"
          style="max-width: 600px; margin: 0 auto">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Наименование: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4">Цена за кг: </label>
                <div class="col-sm-8">
                    <input type="number"  step="0.1" th:field="*{priceKg}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Цена за мешок(25 кг): </label>
                <div class="col-sm-8">
                    <input type="number"  step="0.1" th:field="*{price25Kg}" class="form-control" required/>
                </div>
            </div>
            <div class="text-center p3">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>