<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список продаж</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container text-center">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Комбикорм Т.Е</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSeal" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Продажи
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSeal">
                        <a class="dropdown-item" th:href="@{/sales}">Список продаж </a>
                        <a class="dropdown-item" th:href="@{/sales/new}">Добавить список </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarConcentrate" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Концентраты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarConcentrate">
                        <a class="dropdown-item" th:href="@{/concentrates}">Список концентратов</a>
                        <a class="dropdown-item" th:href="@{/concentrates/new}">Добавить концентрат</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarGrainMix" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Зерносмесь
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarGrainMix">
                        <a class="dropdown-item" th:href="@{/grains}">Список зерносмесей</a>
                        <a class="dropdown-item" th:href="@{/grains/new}">Добавить зерносмесь</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCombicorm" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Комбикорм
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCombicorm">
                        <a class="dropdown-item" th:href="@{/combicorms}">Список комбикорма</a>
                        <a class="dropdown-item" th:href="@{/combicorms/new}">Добавить комбикорм</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCatDog" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Комбикорм для питомцев
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCatDog">
                        <a class="dropdown-item" th:href="@{/food_for_cat_and_dog}">Список кормов для собак и котов</a>
                        <a class="dropdown-item" th:href="@{/food_for_cat_and_dog/new}">Добавить корм</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOther" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Прочее
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOther">
                        <a class="dropdown-item" th:href="@{/others}">Список прочего</a>
                        <a class="dropdown-item" th:href="@{/others/new}">Добавить корм</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-text mr-3">Please, login</div>
        </div>
    </nav>

    <div><h1>Список продаж</h1></div>

    <form th:action="@{/sales}" method="get">
        <input type="text" name="filter" th:value="${filter}" placeholder="Поиск по наименованию" size="50">
        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
    </form>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Наименование концентрата</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="sale : ${listSales}">
                <tr>
                    <td>[[${sale.id}]]</td>
                    <td>[[${sale.name}]]</td>
                    <td>[[${sale.concentrate.name}]]</td>
                    <td>
                        <a th:href="@{'/sales/edit/' + ${sale.id}}">Edit</a>
                        &nbsp;
                        <a th:href="@{'/sales/delete/' + ${sale.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>