<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую продажу</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div th:if="${sale.id==null}"><h1>Добавить продажу</h1></div>
    <div th:unless="${sale.id==null}"><h1>Редактировать продажу</h1></div>

    <form th:action="@{/sales/save}" th:object="${sale}" method="post"
          style="max-width: 600px; margin: 0 auto">
        <input type="hidden" th:field="*{id}" th:value="${sale.id}" />
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Наименование продажи: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4">Конценрат: </label>
                <div class="col-sm-8">
                    <select th:field="*{concentrate}" class="form-control" >
                        <th:block th:each="can : ${listConcentrates}">
                            <option th:text="${can.name}" th:value="${can.id}"/>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>